.slider {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.slider label {
    font-weight: bold;
}

.slider .range {
    background-color: bisque;
    display: flex;
    border-radius: 9999px;
    border: solid 4px burlywood;
}

.slider .handle {
    position: relative;
    background-color: #00a0eb;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: none;
    width: unset;
    border-radius: 9999px;
    padding: 0.25em 0.5em;
    border: solid 4px #4cc6ff;
    cursor: pointer;
    user-select:none;
}

.slider .hitbox {
    position: absolute;
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    border: 1px solid red;
}
